@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using AdmissionSys.Areas.Identity.Data


@inject SignInManager<NuvAdUser> SignInManager
@inject UserManager<NuvAdUser> UserManager
@{
    ViewData["Title"] = "Home page";
}
<div class="row mb-3">
    <div class="col-md-4 offset-md-1">
        <img src="http://www.urhobosocialclublagos.com/wp-content/uploads/2017/07/default-avatar-ginger-guy.png" class="rounded mx-auto d-block" height="200" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                @if (SignInManager.IsSignedIn(User))
                {
                    <h1 class="display-3">@UserManager.GetUserName(User)</h1>
                }
                else
                {
                    <h1 class="display-3">User Name</h1>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="text-primary-v3">Manage Profile</a>
            </div>
            <div class="col-md-3">
                <a asp-page="/Student/Index">Personal Information</a>
            </div>
            <div class="col-md-6">
                <a asp-page="/AcademicRecord/Index">Academic Information</a>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admission Application Progress</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Check your Application Progress</h6>
                    <hr />
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar bg-primary-v3" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                    <p class="card-text">
                        <ul>
                            <li class="text-success">Add Personal Information</li>
                            <li class="text-success">Add Academic Records</li>
                            <li class="text-success">Upload Documents</li>
                            <li class="text-danger">Attend Interview</li>
                            <li class="text-danger">Confirm Fees Payment</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">NoticeBoard</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Important Announcements Related to Admission</h6>
                    <hr/>
                    <p class="card-text">
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in <a href="#">pretium nisl aliquet</a></li>
                            <li>
                                Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card-deck mb-3">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Step 1</h5>
                    <h6 class="card-subtitle mb-2 ">Fill your personal Information</h6>
                    <hr />
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue massa, blandit vitae tempor id, ullamcorper vitae massa. Suspendisse pretium consequat tincidunt. Nunc a auctor sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien nunc, gravida id blandit eget, efficitur vel urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque rutrum, sapien non aliquet tempor, risus felis pulvinar eros, in scelerisque risus quam et turpis. Cras eget mauris eu arcu faucibus accumsan pretium vitae felis. Maecenas vel tortor lorem.
                        <a class="btn text-light card-link disabled" asp-page="/Student">Click here</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body bg-success text-white">
                    <h5 class="card-title">Step 2</h5>
                    <h6 class="card-subtitle mb-2 ">Add Academic Records</h6>
                    <hr />
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue massa, blandit vitae tempor id, ullamcorper vitae massa. Suspendisse pretium consequat tincidunt. Nunc a auctor sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien nunc, gravida id blandit eget, efficitur vel urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque rutrum, sapien non aliquet tempor, risus felis pulvinar eros, in scelerisque risus quam et turpis. Cras eget mauris eu arcu faucibus accumsan pretium vitae felis. Maecenas vel tortor lorem.
                        <a class="card-link text-light btn disabled" asp-page="/AcademicRecord">Click here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card-deck mb-3">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Step 3</h5>
                    <h6 class="card-subtitle mb-2 ">Upload Documents</h6>
                    <hr />
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue massa, blandit vitae tempor id, ullamcorper vitae massa. Suspendisse pretium consequat tincidunt. Nunc a auctor sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien nunc, gravida id blandit eget, efficitur vel urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque rutrum, sapien non aliquet tempor, risus felis pulvinar eros, in scelerisque risus quam et turpis. Cras eget mauris eu arcu faucibus accumsan pretium vitae felis. Maecenas vel tortor lorem.
                        <a class="card-link text-light btn disabled" asp-page="/Student">Click here</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body border-primary-v3">
                    <h5 class="card-title">Step 4</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Attend Interview</h6>
                    <hr />
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue massa, blandit vitae tempor id, ullamcorper vitae massa. Suspendisse pretium consequat tincidunt. Nunc a auctor sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien nunc, gravida id blandit eget, efficitur vel urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque rutrum, sapien non aliquet tempor, risus felis pulvinar eros, in scelerisque risus quam et turpis. Cras eget mauris eu arcu faucibus accumsan pretium vitae felis. Maecenas vel tortor lorem.
                        <a class="card-link text-primary-v3" asp-page="/Student">Click here</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Step 5</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Confirm Fees Payment</h6>
                    <hr />
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue massa, blandit vitae tempor id, ullamcorper vitae massa. Suspendisse pretium consequat tincidunt. Nunc a auctor sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien nunc, gravida id blandit eget, efficitur vel urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque rutrum, sapien non aliquet tempor, risus felis pulvinar eros, in scelerisque risus quam et turpis. Cras eget mauris eu arcu faucibus accumsan pretium vitae felis. Maecenas vel tortor lorem.
                        <a class="card-link text-primary-v3" asp-page="/Student">Click here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>