@page
@model PhoneVerifyModel
@{
}
<div>
    <form method="post">
        <p>Enter the verify Token received as SMS here:</p><br> 
        <input type="text" name="verifyToken"/>
        <input type="submit" value="Verify" class="btn btn-default" />
    </form>
</div>