@page
@model ConfirmPhoneNumberModel
@{
    ViewData["Title"] = "Confirm Phone Number";
}
<h2>@ViewData["Title"]</h2>
<br />
<br />
<div>
    <p>
        @Html.Raw(ViewData["ConfirmResult"])
    </p>
</div>
