@page
@model confirmonregisterModel
@{
    ViewData["Title"] = "Confirm email";
}
<br />
<br/>
<div>
    <p>
        Please check your Email, and confirm it by clicking on the link provided in Email.
    </p>
</div>

