@page
@model AdmissionSys.Pages.Documents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].DocumentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Documents) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.DocumentsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-page="../Admin/Document/Index">Back to All Documents</a>

