@page
@model certiModel
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>Create</h2>

        <h4>AcademicRecord</h4>
        <hr />
        <form method="post" id="ssc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" value="Certificate" asp-for="AcademicRecord.ExamName" />

            <div class="form-group">
                <label class="control-label">Board/ University/ Other Exam/ Certifying body</label>
                <input asp-for="AcademicRecord.BoardOrUni" class="form-control" />
                <small class="form-text text-muted">
                    Board/ University/ Other Exam/ Certifying body of Certification
                </small>
                <span asp-validation-for="AcademicRecord.BoardOrUni" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AcademicRecord.SchoolOrCollegeName" class="control-label"></label>
                <input asp-for="AcademicRecord.SchoolOrCollegeName" class="form-control" />
                <small class="form-text text-muted">
                    Enter name of School/College which you were studying at previously
                </small>
                <span asp-validation-for="AcademicRecord.SchoolOrCollegeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"> Certification: </label>
                <input asp-for="AcademicRecord.NameOfDegree" class="form-control" />
                <small class="form-text text-muted">
                    Enter the name of certification.
                </small>
                <span asp-validation-for="AcademicRecord.NameOfDegree" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AcademicRecord.MonthYearOfPass" class="control-label"></label>
                <input asp-for="AcademicRecord.MonthYearOfPass" class="form-control" />
                <small class="form-text text-muted">
                    Enter Year of Passing out of the previous institution
                </small>
                <span asp-validation-for="AcademicRecord.MonthYearOfPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicRecord.RollNumber" class="control-label"></label>
                <input asp-for="AcademicRecord.RollNumber" class="form-control" />
                <small class="form-text text-muted">
                    Enter Roll Number/ID Number assigned to you in the exam
                </small>
                <span asp-validation-for="AcademicRecord.RollNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicRecord.LangOfInstruction" class="control-label"></label>
                <input asp-for="AcademicRecord.LangOfInstruction" class="form-control" />
                <small class="form-text text-muted">
                    Enter the language you received instruction/education in at the previous institution
                </small>
                <span asp-validation-for="AcademicRecord.LangOfInstruction" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.RadioButtonFor(model => model.AcademicRecord.MarksOrGrade, "Marks", new { @id = "Marks", @onclick = "grademarkscheck()" })@Html.Label("Marks")
                @Html.RadioButtonFor(model => model.AcademicRecord.MarksOrGrade, "Grade", new { @id = "Grade", @onclick = "grademarkscheck()" })@Html.Label("Grade")
            </div>
            <div id="marks" class="form-group" style="display:none">
                <label class="control-label"> Marks Obtained</label>
                <input name="marksobtained" id="marksobtainedid" onchange="percentagecalc()" class="form-control" />
                <small class="form-text text-muted">
                    Enter the Grade / Percentage obtained
                </small>
                <span asp-validation-for="AcademicRecord.MarksObtained" class="text-danger"></span>

                <label class="control-label"> Marks Obtained out of</label>
                <input name="outofobtained" id="outofid" onchange="percentagecalc()" class="form-control" />
                <small class="form-text text-muted">
                    Marks obtained out of? (e.g. 100 or 200, etc...)
                </small>
                <span asp-validation-for="AcademicRecord.ObtainedOutOfOrCGPA" class="text-danger"></span>

                <label class="control-label"> Percentage: </label>
                <input id="percnt" name="CalcPer" class="form-control" readonly />
                <small class="form-text text-muted">
                    Percentage obtained.
                </small>
                <span asp-validation-for="AcademicRecord.CalcPer" class="text-danger"></span>
            </div>
            <div id="grade" class="form-group" style="display:none">
                <label class="control-label"> Grade Obtained </label>
                <input name="marksobtained" class="form-control" id="gradeform" />
                <small class="form-text text-muted">
                    Enter the Grade obtained
                </small>
                <span asp-validation-for="AcademicRecord.MarksObtained" class="text-danger"></span>

                <label class="control-label"> CGPA </label>
                <input name="outofobtained" class="form-control" id="cgpaform" />
                <small class="form-text text-muted">
                    CGPA obtained(e.g. 9.5 or 9.2, etc...)
                </small>
                <span asp-validation-for="AcademicRecord.ObtainedOutOfOrCGPA" class="text-danger"></span>

                <label class="control-label"> Percentage: </label>
                <input name="CalcPer" class="form-control" />
                <small class="form-text text-muted">
                    Percentage obtained.
                </small>
                <span asp-validation-for="AcademicRecord.CalcPer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary-v3" />
            </div>
        </form>
        <script>
function grademarkscheck() {
                    if (document.getElementById('Marks').checked) {
                   document.getElementById('marks').style.display = 'block';
                   document.getElementById('grade').style.display = 'none';
                    document.getElementById("marksobtained").required = true;
                    document.getElementById("outof").required = true;

                    document.getElementById("gradeform").required = false;
                    document.getElementById("cgpaform").required = false;
                     }
                      else if(document.getElementById('Grade').checked){
                       document.getElementById('grade').style.display = 'block';
                         document.getElementById('marks').style.display = 'none';

                         document.getElementById("marksobtained").required = false;
                    document.getElementById("outof").required = false;

                    document.getElementById("gradeform").required = true;
                    document.getElementById("cgpaform").required = true;
                    }
                       }
        </script>
        <script>
function percentagecalc()
            {
            var marks = document.forms["ssc"]["marksobtainedid"].value;
            var outof = document.forms["ssc"]["outofid"].value;

            if(marks!="" && outof!="")
                {
                    var percn=marks*100/outof;
                    document.getElementById("percnt").value = percn+"%";
                }
            else
                {
                document.getElementById("percnt").value = "";
                }
            }
        </script>
